/*===============================================================================
Font
===============================================================================*/

@font-face {
    font-family: Robotolite;
    src: url(roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Robototitle;
    src: url(roboto/RobotoCondensed-Regular.ttf);
}

/*===============================================================================
Main Styles
===============================================================================*/
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

header {
    background: url("imgs/6999869-sunset-beach-waves.jpg");
    height: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

header h1{
    margin: 0;
    padding: 5%;
    color: white;
    font-family: Robototitle, sans-serif;
    text-align: center;
}

header p {
    margin: 0;
    padding: 3%;
    color: white;
    font-size: 30px;
    font-family: Robototitle, sans-serif;
    text-align: center;
}

.podbanner {
    display: flex;
    height: 30%;
}

.podbanner img {
    display: inline-block;
    height: 100%;
    margin: auto;
    width: 25%;
}

.titleshift {
    display: none;
    padding: 80%;
}

header p a {
    margin: 0;
    padding: 3%;
    color: #81DAF5;
    font-size: 30px;
    font-family: Robototitle, sans-serif;
    text-align: center;
}

.title {
    background-color: #FE642E;
    display: inline-block;
    height: 20%;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title ul {
       color: white;
       font-family: Robotolite, sans-serif;
       margin: auto;
}

.title ul li{
    color: white;
    display: inline-block;
    font-family: Robotolite, sans-serif;
    font-size: 25px;
    padding: 5% 3% 5% 1%;
    margin: auto;
    text-decoration: none;
}

.title ul li a{
    text-decoration: none;
    color: white;
    padding: 0;
}

.title ul li a:hover {
    text-decoration: none;
    color: black;
}

.content {
    width: 70%;
    margin: auto;
    padding: 3%;
}

.content h1 {
    color: black;
    display: inline-block;
    font-family: Robotolite, sans-serif;
    padding: 0;
}

.content h3 a {
    color: white;
    padding: 0;
}

footer {
    background-color: #FE642E;
    display: flex;
    height: 200px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: white;
    font-family: Robotolite, sans-serif;
    display: flex;
}